[2019-10-09 16:45] NoelWormwood opened #1 "Home Page"
The "Submit" button under Partner with Us is not colored like the other pages.

[2019-10-09 16:46] NoelWormwood opened #2 "On all interior pages, the gray div in the jumbotron area is looking too wide (and going off the screen) when viewing on medium-sized desktop screen"

[2019-10-09 16:50] NoelWormwood opened #3 "Our Work Page:"
Remove the "View Project" button over the images.

[2019-10-09 20:10] cmoosman1 commented on #2
@NoelWormwood - This should be resolved in the current build

[2019-10-09 20:11] NoelWormwood commented on #2
@jthiel16 Please QA and confirm

[2019-10-09 20:12] cmoosman1 commented on #1
@NoelWormwood - This is resolved in the current build

[2019-10-09 20:15] NoelWormwood commented on #1
@jthiel16 Please QA and confirm

[2019-10-09 20:19] jthiel16 commented on #2
@NoelWormwood @cmoosman1 Yep, the gray bar width looks good now. Between 1470 and 1570, the intro text/heading is being pushed over to the left a bit too far though

[2019-10-09 20:20] jthiel16 commented on #1
Confirmed, closing ticket

[2019-10-09 20:20] #1 closed, assigned to jthiel16, NoelWormwood

[2019-10-09 20:26] pguevara65 opened #4 "About Us Page, in the "Float Section" of the header ..."
In WP I'm not able to change the states icon image.

We need to update that to this file:
https://drive.google.com/file/d/1Qv9VERz6X3ap4WWqp0XwGBqZ555Kx-B0/view?usp=sharing

[2019-10-09 20:27] pguevara65 opened #5 "Home page jumbotron area"
We're missing the "Featured Work" card/info in the lower right corner (and the carousel if multiple images). These should link off to the individual case study pages.

*If we don't end up launching with individual case study pages, this can link to the "Our Work" page

https://drive.google.com/file/d/12jqlIbDcKitSvA6ztkJGK1AE-lBBOxQi/view?usp=sharing

[2019-10-09 20:29] pguevara65 opened #6 "Home page, logo section"
The spacing looks off, both horizontally and vertically, and especially when Im looking at it at smaller/responsive sizes, the logos become off-center and start crashing into each other.

Can we space the logos out more horizontally, and keep everything centered vertically within the white divider area?

The logos also look low quality. Recommend using the 2x image files for better quality.

Examp

[2019-10-09 20:30] pguevara65 opened #7 "The main nav bar should disappear when scrolling downward, and then reappear when user starts scrolling back up, from anywhere on the page"
See castlehotsprings.com for example

[2019-10-09 20:30] pguevara65 opened #8 "There is no overall "Services" page, so we can remove that option/link from the main nav bar. User should only be able to navigate to either Masonry, Steel or Stone"

[2019-10-09 20:31] pguevara65 opened #9 "UPDATE 10/22: Removal of title bar/icons"
https://drive.google.com/file/d/13Cs84EAN0pCSsWlO973LNiwo48bxRhfH/view?usp=sharing

[2019-10-09 20:31] pguevara65 opened #10 "Home page jumbotron area: We'll need to add a small, subtle bouncing arrow to the lower left area of the jumbotron image. See comp for size/location: https://invis.io/KCU3HJWRX3T"
This was a client ask.

For the animation I'm thinking something like this: https://codepen.io/bewley/pen/revRQv

[2019-10-09 20:31] pguevara65 opened #11 "On both the "Stone" and "Steel" service pages, if you scroll down to the "Additional Services" section ..."
The 4 images on the left side have been updated in WP, but are not showing up on the front end currently. This is happening for both the Steel and Stone pages:

https://drive.google.com/file/d/19B6uC0KGiKsOgDvaSLx0WSYWG19-xbPw/view?usp=sharing

[2019-10-09 20:32] pguevara65 opened #12 "Home page jumbotron on mobile"
The text columns are too narrow, and it's unreadable and extending the hero image too far down the page. See mobile comp for expected layout.

If we need to reduce the size of the subhead copy in order to make that work, let's look at doing that.

https://drive.google.com/file/d/12cbVWhnO7Y-YnaPGV83dIKvH-nwxQZDz/view?usp=sharing

Jason's comment:
This is mostly fixed, except the subhead copy is go

[2019-10-09 20:33] pguevara65 opened #13 "Mobile nav bar"
This is not functioning as expected and is showing a white block in place of the hamburger menu.

Let's left-align the logo, with hamburger menu icon to the right of it.

I think we should also switch it to the mobile nav a bit earlier (like at 990px wide), because the phone number and contact us are getting cut off between 770 and 990.

https://drive.google.com/file/d/12AmfSWrTMHGjOJWnNcpAulpDkHm

[2019-10-09 20:33] pguevara65 opened #14 "Home page, in the modules where we have the Instagram and LinkedIn logos, it's missing an external link (new window) to each of the social sites (and the small ext-link icon in the lower-right corner of each)."
https://drive.google.com/file/d/11sY4nkviGYd4vofmSBBcBkWs8rQZBALq/view?usp=sharing

Links:
https://www.instagram.com/sargon_masonry/
https://www.linkedin.com/company/sargon-masonry/about/

See UI kit page 2 for interaction/hover state.

Jason's comment after submission:
The hover and icon look good.

But let's update so both external links open in a new tab.

[2019-10-09 20:34] pguevara65 opened #15 "Footer:"
On desktop, the logo needs more space between it and the "Services" column of text. Can we move "Services..." over to the right so it sits closer to the other column of text.

Then on mobile, the layout isn't working as comped. Was thinking everything would go to centered (using the stacked logo). We need to make sure to add some padding beneath the logo so it has some breathing room, and let's ke

[2019-10-09 20:34] pguevara65 opened #16 "On the Our Work page, behind the gray box intro area, the size of the gray box looks good but now the sargon logo pattern looks a bit short. Can we extend the logo pattern down a bit more so it goes about 50px past the bottom of the gray box:"
https://drive.google.com/file/d/19BxDYElF3O7uhZISzgvhfB3BGsfkBSte/view?usp=sharing

[2019-10-09 20:35] pguevara65 opened #17 "Our Work Page:"
Remove the "View Project" button over the images.

[2019-10-09 20:35] pguevara65 opened #18 "For all instances of the gold, rectangular button throughout the site, the hover state should go to #f5ae02 (slightly darker gold) instead of blue:"
https://drive.google.com/file/d/11jWeZGdh9ybgE4qtyXCApWplB3Jm5xuu/view?usp=sharing

This is not hovering to the correct color

[2019-10-09 20:36] pguevara65 opened #19 "Contact Us page, in the 2 "location" containers:"
The 2 phone number links look like they're using the wrong blue link color.

Please update to #226c93

[2019-10-09 20:36] pguevara65 opened #20 "Main Nav Text Alignment"
The text links in the main nav bar are no longer centered vertically, within the blue bar.

They looked good previously

[2019-10-09 20:36] pguevara65 opened #21 "Home page Get a Quote form"
The "Submit" button styling is incorrect. Should be the same gold treatment as the rest of the pages

[2019-10-09 20:37] pguevara65 opened #22 "Home Page Get a Quote form:"
Phone number and email should be linked.

They are on other pages

[2019-10-09 20:38] pguevara65 opened #23 "Universal Get a Quote Form"
1. Can we add auto-formatting to the phone number field

2. Can we use instant form validation (so that when user types an invalid email format or zip we let them know right away)

[2019-10-09 20:38] pguevara65 opened #24 "Employment page, the "Open Positions" container:"
Let's reduce the height of this container when there are no entries listed. Right now there's a lot of extra space at the bottom

https://drive.google.com/file/d/19CB4byYBA6JBETo4LH8nd23l-xCbTnkR/view?usp=sharing

[2019-10-09 20:38] pguevara65 opened #25 "The Sargon page loader icon:"
Let's have it center vertically within browser

[2019-10-09 20:39] pguevara65 opened #26 "There are some areas throughout the site where an image has been loaded to WP, but is not showing up on front end."
2 specific spots I'm seeing:

1. Home page, the two "people" photos surrounding the gold testimonial quote area.

2. About Us page, in the "community involvement" section

3. Contact Us page, the 4-image quadrant

[2019-10-09 20:39] pguevara65 opened #27 "Home page, in the "featured work" module"
the diagonal line and the arrow aren't centering vertically within the container

The client would also like to remove the lightning bolt icon

[2019-10-09 20:44] pguevara65 commented on #3
moved here: https://github.com/Tallwave/Sargon-QA/projects

[2019-10-09 20:51] cmoosman1 commented on #3
@NoelWormwood - This is resolved in the current build

[2019-10-09 20:56] NoelWormwood commented on #14
@cmoosman1 Only Remaining Item:let's update so both external links open in a new tab

[2019-10-09 20:57] NoelWormwood commented on #15
@cmoosman1 all looks good except one minor thing:

When viewing on mobile, the logo looks just a tad off-centered.

https://drive.google.com/file/d/19K6YqSJSQuq2M7PtZittQHmRsjITpPPT/view?usp=sharing

[2019-10-10 17:04] cmoosman1 commented on #2
@NoelWormwood - This is resolved in the current build.

[2019-10-10 17:10] cmoosman1 commented on #14
@pguevara65 - This is resolved in the current build

[2019-10-10 17:11] cmoosman1 commented on #18
@pguevara65 - This is resolved in the current build

[2019-10-10 17:12] cmoosman1 commented on #21
@pguevara65 - This is resolved in the current build

[2019-10-10 17:13] cmoosman1 commented on #24
@pguevara65 - This is resolved in the current build

[2019-10-10 17:14] cmoosman1 commented on #25
@pguevara65 - This is resolved in the current build

[2019-10-10 17:15] pguevara65 commented on #25
@NoelWormwood let me know if you want me to review

[2019-10-10 17:15] pguevara65 commented on #24
@NoelWormwood let me know if you want me to review

[2019-10-10 17:16] pguevara65 commented on #21
@NoelWormwood let me know if you want me to review

[2019-10-10 17:16] pguevara65 commented on #18
@NoelWormwood let me know if you want me to review

[2019-10-10 17:17] pguevara65 commented on #14
@NoelWormwood let me know if you want me to review

[2019-10-10 17:17] cmoosman1 commented on #27
@pguevara65 - This is resolved in the current build

[2019-10-10 17:17] pguevara65 commented on #27
@NoelWormwood let me know if you want me to review

[2019-10-10 19:25] #27 closed, assigned to NoelWormwood, pguevara65

[2019-10-10 19:25] #25 closed, assigned to NoelWormwood, pguevara65

[2019-10-10 19:26] NoelWormwood commented on #24
@jthiel16 This looks good to me but please review as well.

[2019-10-10 19:26] #3 closed, assigned to NoelWormwood

[2019-10-10 19:27] NoelWormwood commented on #2
@jthiel16 Please QA

[2019-10-10 19:27] NoelWormwood commented on #21
@jthiel16 please review

[2019-10-10 19:28] NoelWormwood commented on #18
@jthiel16 Please review

[2019-10-10 19:29] NoelWormwood commented on #14
@jthiel16 Please review

[2019-10-10 20:34] NoelWormwood opened #28 "Contact Us (Partner with Us) Form Updates"
- [x] Add Company as a field in Partner with Us
- [x] Break First/Last name into two fields

[2019-10-10 20:37] NoelWormwood opened #29 "Masonry and Steel Page Updates"
The client would like to add a 4th circle image and content on each of these service pages. The team was able to add this within the CMS but it is not pulling through on the frontend

We would like to keep all 4 on the same line and centered

[2019-10-10 20:49] NoelWormwood opened #30 "About Us: Associations"
Client would like each association to link out:

HBACA: https://www.hbaca.org/
Arizona Masonry Guild: https://azmasonry.org/
Arizona Masonry Contractors Association: https://azmasonry.org/
Valley Partnerships: https://www.valleypartnership.org/
icpi: https://www.icpi.org/

[2019-10-10 20:51] NoelWormwood opened #31 "Contact Us: Additonal Map"
The client would like to add a third map (same box/line as the other two) and title it "Sargon Headquarters" with the text "Under Construction". Address TBD

[2019-10-10 21:00] NoelWormwood opened #32 "CMS --> Front End Connection"
The team has made a few different content/imagery changes within the CMS and not showing on the front end. Can we please ensure this is resolved across the full site.

[2019-10-10 21:19] cmoosman1 commented on #9
@pguevara65 - This is resolved in the current build

[2019-10-10 21:46] NoelWormwood commented on #9
@jthiel16 Please review

[2019-10-10 22:15] cmoosman1 commented on #11
@pguevara65 - This is resolved in the current build

[2019-10-10 22:20] cmoosman1 commented on #22
@pguevara65 - This is resolved in the current build

[2019-10-10 22:21] pguevara65 commented on #22
@NoelWormwood let me know where I can review

[2019-10-10 22:21] pguevara65 commented on #11
@NoelWormwood let me know if i can help review

[2019-10-10 22:24] cmoosman1 commented on #29
@NoelWormwood - This is resolved in the current build

[2019-10-10 22:26] pguevara65 commented on #22
@jthiel16 can you please review

[2019-10-10 22:31] #29 closed, assigned to NoelWormwood

[2019-10-10 22:32] #11 closed, assigned to NoelWormwood, pguevara65

[2019-10-10 22:33] #22 closed, assigned to jthiel16

[2019-10-10 22:35] cmoosman1 commented on #31
@NoelWormwood - This is resolved on the front end I reallyu need a location to wire up the backend and the map piece

[2019-10-10 22:38] NoelWormwood commented on #31
@cmoosman1 I will reach out on the address.

[2019-10-10 22:43] cmoosman1 commented on #32
@NoelWormwood - Hey gotta give me a list here, Im pretty sure everything is wired up but if there is something not happening give me the page/section in this ticket.

[2019-10-10 22:46] NoelWormwood commented on #32
The only two things I believe were the additional services images and circle icons. I will close this ticket and submit new tickets if we run across them.

[2019-10-10 22:46] #32 closed, assigned to NoelWormwood

[2019-10-10 23:22] cmoosman1 commented on #26
@pguevara65 - This is resolved in the current build

[2019-10-10 23:50] pguevara65 commented on #26
@jthiel16 can you please review?

[2019-10-11 00:06] cmoosman1 commented on #8
@pguevara65 - This is resolved in the current build

[2019-10-11 15:45] jthiel16 commented on #24
Looks good, thanks!

[2019-10-11 15:45] #24 closed, assigned to jthiel16

[2019-10-11 15:48] jthiel16 commented on #21
Looks good

[2019-10-11 15:48] #21 closed, assigned to jthiel16

[2019-10-11 15:52] jthiel16 commented on #18
@cmoosman1 I'm still seeing the issue. It's hovering to a brown, but should be just slightly darker than the original gold color: #f5ae02

[2019-10-11 16:03] jthiel16 commented on #14
@cmoosman1 Let's update so both external links open in a new tab.

[2019-10-11 16:05] pguevara65 commented on #8
@jthiel16 please review

[2019-10-11 16:10] jthiel16 commented on #9
1) Can we left-align these modules to the same spot as the text heading just beneath it, at all sizes
2) Employment page is missing this element. Suggest using the same icon as About Us
3) Masonry/Steel/Stone pages are using a white icon for the selected page (let's make that black)
4) These icons on the Masonry/Steel/Stone pages were intended to be links to the other pages, but it's missing that

[2019-10-11 16:19] jthiel16 commented on #8
@cmoosman1 Can we have the hand icon go away on hover over "Services" too

[2019-10-11 16:23] jthiel16 opened #33 "The blue text links throughout should be updated to #226c93"
I'm seeing the issue in the "Partner with Us" component throughout the site, and also the phone numbers on the Contact Us page

[2019-10-11 16:26] jthiel16 commented on #2
@cmoosman1 I'm still seeing the text alignemnt issue between 1470px and 1570px

[2019-10-11 16:35] jthiel16 commented on #26
Looks good

[2019-10-11 16:35] #26 closed, assigned to jthiel16

[2019-10-11 16:38] jthiel16 opened #34 "The circular icon/images on the Masonry page aren't showing all that have been loaded into WP."
Also on the Stone page, there are only 3, but it's holding a spot for a 4th and showing a broken image

[2019-10-11 16:43] jthiel16 opened #35 "Contact Us page - phone and email icons missing"
On the contact us page, just under the intro text, the phone number and email are both missing their respective icons.

[2019-10-14 17:16] NoelWormwood commented on #34
@jthiel16 Please QA.

[2019-10-14 17:17] NoelWormwood commented on #34
Masonry has been fixed and I have added a new tickets for the stone page.

[2019-10-14 17:18] NoelWormwood opened #36 "Services - Stone"
On the Stone page, there are only 3, but it's holding a spot for a 4th and showing a broken image

[2019-10-14 17:47] NoelWormwood opened #37 "Services - Masonry"
I have updated the last circle icon (currently Stone Veneer) to Commercial Buildings and new imagery but it is not pulling through on the front end. Can we please have this resolved before 10am on 10/16.

[2019-10-14 18:47] NoelWormwood commented on #31
@cmoosman1 Here is the updated address:
460 W McKellips Rd
Mesa, AZ  85201

[2019-10-16 15:22] NoelWormwood opened #38 "Global - Card Images"
On all pages the card images at the bottom of each page have been updated but are not pulling through to the CMS
<img width="1417" alt="Screen Shot 2019-10-16 at 8 22 32 AM" src="https://user-images.githubusercontent.com/39572221/66933562-1e3bc800-efee-11e9-8b39-c320a06511da.png">

[2019-10-16 15:25] NoelWormwood opened #39 "Featured Work Icon"
This is still too high...please lower to right above the next component
<img width="1424" alt="Screen Shot 2019-10-16 at 8 24 36 AM" src="https://user-images.githubusercontent.com/39572221/66933828-796dba80-efee-11e9-9f21-e6a467e9643f.png">

[2019-10-16 16:04] jthiel16 opened #40 "On interior pages, the "header-icons-wrapper" div is appearing a bit too large and prominent. Let's reduce the height of that so it's at most 60px high"
https://drive.google.com/file/d/1EnkfduBklveydJ0rFD_8j5qT2t3wx_G4/view?usp=sharing

[2019-10-16 16:09] NoelWormwood commented on #9
@jthiel16 This ticket is for the internal title icons. Can we add the size adjustment requests here instead of creating a new ticket based upon our convo this morning.

[2019-10-16 16:26] jthiel16 commented on #9
@NoelWormwood @cmoosman1 Yeah, one additional thing to add to this list:

5. The "header-icons-wrapper" div is appearing a bit too large and prominent. Let's reduce the height of that element on all interior pages, so it's at most 60px high

[2019-10-16 16:28] jthiel16 commented on #40
This comment has been added to issue #9

Closing this ticket, to clean up

[2019-10-16 16:28] #40 closed, assigned to nobody

[2019-10-16 17:28] cmoosman1 commented on #31
@NoelWormwood - This is resolved in the current build

[2019-10-16 17:29] cmoosman1 commented on #39
@NoelWormwood - This is resolved in the current build

[2019-10-16 17:29] cmoosman1 commented on #38
@NoelWormwood - This is resolved in the current build

[2019-10-16 17:30] cmoosman1 commented on #37
@NoelWormwood - This is resolved in the current build

[2019-10-16 17:32] cmoosman1 commented on #36
@NoelWormwood - This is working as expected just need the content in WP

[2019-10-16 17:33] NoelWormwood commented on #9
@jthiel16 Please QA

[2019-10-16 17:38] NoelWormwood commented on #38
@cmoosman1
Card Images on: Our work, about us and Employment do not match what is loaded into the CMS

[2019-10-16 17:42] #37 closed, assigned to NoelWormwood

[2019-10-16 17:42] #31 closed, assigned to NoelWormwood

[2019-10-16 17:47] #34 closed, assigned to jthiel16

[2019-10-16 17:50] NoelWormwood commented on #39
@cmoosman1 This is still sitting high for me on both my laptop screen and larger monitor (see both screen shots below). @jthiel16 Can you confirm if this is the intended placement and it's just my screens or if we need to lower it more?

![Screen Shot 2019-10-16 at 10 48 39 AM](https://user-images.githubusercontent.com/39572221/66944793-bc398d80-f002-11e9-9caf-9e61f402c1cb.png)
<img width="1415" a

[2019-10-16 18:07] jthiel16 commented on #39
@NoelWormwood Yes, looks like it's sitting a bit too high for me too, and the placement is tied to the height of the browser so I think that's why it's looking odd at certain browser widths. Intention is for it to sit about 80px above the bottom of the hero container.

[2019-10-16 20:02] cmoosman1 commented on #38
@NoelWormwood - This is resolved in the current build

[2019-10-16 20:09] jthiel16 commented on #9
@NoelWormwood @cmoosman1

1. Can we left-align these modules to the same spot as the text heading just beneath it, at all sizes
2. Employment page is missing this element. Suggest using the same icon as About Us
3. Masonry/Steel/Stone pages are using a white icon for the selected page (let's make that black)
4. These icons on the Masonry/Steel/Stone pages were intended to be links to the other pag

[2019-10-16 23:06] pguevara65 opened #41 "IE 11 Not Loading - - stuck on loading preview"
**What:**
The site is not loading on IE 11
http://sargonmc.wpengine.com/

IE version: 11.805.17763.0
Windows version: 10 Pro

What I see on IE 11:
![image](https://user-images.githubusercontent.com/46331985/66965511-c2456380-f02e-11e9-8a45-8c169420e3dd.png)

Expected Result that I see on Chrome:
![image](https://user-images.githubusercontent.com/46331985/66965529-d5f0ca00-f02e-11e9-8559-76492c1f40

[2019-10-17 15:59] cmoosman1 commented on #41
@NoelWormwood @pguevara65 - This is resolved in the current build

[2019-10-17 17:38] pguevara65 commented on #41
@cmoosman1 @NoelWormwood thank you! I see it

[2019-10-17 17:39] #41 closed, assigned to NoelWormwood

[2019-10-17 20:06] cmoosman1 commented on #33
@NoelWormwood - This is resolved I will msg basecamp when I push

[2019-10-17 20:09] cmoosman1 commented on #14
@NoelWormwood - This is resolved will msg in basecamp when I push

[2019-10-17 20:10] cmoosman1 commented on #39
@NoelWormwood - This is resolved I will msg in basecamp when I push

[2019-10-17 20:32] cmoosman1 commented on #30
@NoelWormwood - This is resolved I will msg basecamp when I push

[2019-10-17 23:59] cmoosman1 commented on #19
@NoelWormwood - This is resolved I will msg basecamp when I push

[2019-10-18 00:04] cmoosman1 commented on #15
@NoelWormwood - This is resolved I will msg when i push

[2019-10-18 00:05] cmoosman1 commented on #6
@NoelWormwood - This is resolved will msg when I push

[2019-10-18 00:07] cmoosman1 commented on #12
@NoelWormwood - This is resolved I will msg when I push

[2019-10-18 16:02] cmoosman1 commented on #12
@NoelWormwood - This is resolved in the current build

[2019-10-18 16:03] cmoosman1 commented on #13
@NoelWormwood - This is resolved in the current build

[2019-10-18 16:08] cmoosman1 commented on #16
@NoelWormwood - This is resolved in the current build

[2019-10-18 16:17] pguevara65 commented on #23
@NoelWormwood is this for the Partner With Us form? If not can you please provide the link for the Get A Quote form.

cc: @cmoosman1

[2019-10-18 16:20] pguevara65 commented on #16
@cmoosman1 thank you@

@jthiel16 can you please review?
cc: @NoelWormwood

[2019-10-18 16:21] pguevara65 commented on #13
@cmoosman1 thank you!

@jthiel16 can you please review?

cc: @NoelWormwood

[2019-10-18 16:22] pguevara65 commented on #12
@cmoosman1 thank you!

@jthiel16 can you please review?

cc: @NoelWormwood

[2019-10-18 16:30] pguevara65 opened #42 "Add Favicon"
**What:**
Please add a favicon
http://sargonmc.wpengine.com/

**Why:**
It is a common website practice.

cc: @NoelWormwood

Thanks!

[2019-10-18 16:47] cmoosman1 commented on #7
@NoelWormwood - This is resolved in the current build

[2019-10-18 16:57] cmoosman1 commented on #42
@NoelWormwood - This is resolved in the current build

[2019-10-18 17:08] pguevara65 commented on #7
@cmoosman1 thank you!

@jthiel16 can you please review?

cc: @NoelWormwood

[2019-10-18 17:09] pguevara65 commented on #42
@cmoosman1 I cleared cache & went incognito but I'm not seeing it.

[2019-10-18 19:43] cmoosman1 commented on #42
@pguevara65 - On IE 11 (any Win OS) custom favicon will not load without a valid https cert. Right now we are using the dev mode of WPEngine so we dont have a valid cert in place.

[2019-10-18 19:55] cmoosman1 commented on #20
@NoelWormwood - This is resolved in the current build

[2019-10-18 23:45] cmoosman1 commented on #28
@NoelWormwood - This is resolved in the current build

[2019-10-18 23:48] cmoosman1 commented on #4
@NoelWormwood - This is resolved in the current build

[2019-10-18 23:51] pguevara65 commented on #4
@jthiel16 can you please review?

@cmoosman1 thank you!

cc: @NoelWormwood

[2019-10-18 23:54] cmoosman1 commented on #10
@NoelWormwood - This is resolved in the current build

[2019-10-18 23:55] pguevara65 commented on #10
@cmoosman1 thank you!

@jthiel16 can you please review?

cc: @NoelWormwood

[2019-10-19 02:42] cmoosman1 commented on #23
@NoelWormwood - This is resolved in the current build

[2019-10-21 16:28] jthiel16 commented on #16
Looks good, thank you

[2019-10-21 16:28] #16 closed, assigned to jthiel16, NoelWormwood

[2019-10-21 16:32] jthiel16 commented on #13
Looks good, thank you

[2019-10-21 16:32] #13 closed, assigned to jthiel16

[2019-10-21 16:37] jthiel16 commented on #12
@cmoosman1 This looks much better at the smallest mobile sizes now, but same issue is still happening on medium screens (between 760 and 920px wide), where the subhead text is going off screen on the right side.

cc: @NoelWormwood @pguevara65

[2019-10-21 16:39] jthiel16 commented on #7
Looks great, thank you

[2019-10-21 16:39] #7 closed, assigned to jthiel16

[2019-10-21 16:41] jthiel16 commented on #4
Looks good, thank you

[2019-10-21 16:41] #4 closed, assigned to jthiel16

[2019-10-21 16:42] jthiel16 commented on #10
Looks great, thank you

[2019-10-21 16:42] #10 closed, assigned to jthiel16

[2019-10-21 16:48] jthiel16 opened #43 "When hovering over the "View Projects" cards, the "View Project" text goes from stacked to side-by-side, and that transition appears a bit jerky and odd. I don't believe it was doing that previously."
Can we have the "View Projects" text stay stacked during hover?

https://drive.google.com/file/d/1F_RjRFM5pMTVrw5Y1EOd2wHcTNIsb1dI/view?usp=sharing

[2019-10-21 16:52] jthiel16 opened #44 "The mobile menu layout isn't set up as comped, and when tapping on "Services", the text becomes misaligned."
Staging: https://drive.google.com/file/d/1FbrtBA3eCA3UWDLDuh5FIHyS6_nytYqu/view?usp=sharing

Comp: https://invis.io/NUUH2FG2CJ8

[2019-10-21 22:22] #28 closed, assigned to NoelWormwood

[2019-10-21 22:23] #23 closed, assigned to NoelWormwood

[2019-10-21 22:24] #39 closed, assigned to NoelWormwood

[2019-10-21 22:27] #30 closed, assigned to NoelWormwood

[2019-10-21 22:28] #38 closed, assigned to NoelWormwood

[2019-10-21 22:28] NoelWormwood commented on #18
@jthiel16 Can you QA here again?

[2019-10-21 22:46] NoelWormwood commented on #20
@jthiel16 Please QA

[2019-10-21 22:47] NoelWormwood commented on #15
@jthiel16 Please QA

[2019-10-21 22:47] NoelWormwood commented on #6
@jthiel16 Please QA

[2019-10-22 16:15] jthiel16 commented on #18
Looks good, thank you

[2019-10-22 16:15] #18 closed, assigned to jthiel16

[2019-10-22 16:16] jthiel16 commented on #20
Looks good, thank you

[2019-10-22 16:16] #20 closed, assigned to jthiel16

[2019-10-22 16:18] jthiel16 commented on #15
Looks good, thank you

[2019-10-22 16:18] #15 closed, assigned to jthiel16

[2019-10-22 16:22] jthiel16 commented on #6
Looks good, thank you

[2019-10-22 16:22] #6 closed, assigned to jthiel16

[2019-10-22 20:03] NoelWormwood commented on #9
@cmoosman1 The Sargon team has decided that they would like to remove all page title bar/icons across the site.

Services page (Steel, Masonry, Stone)
About Us
Contact Us

[2019-10-23 03:23] cmoosman1 commented on #12
@NoelWormwood - This is resolved in the current build

[2019-10-23 03:24] cmoosman1 commented on #9
@NoelWormwood - This is resolved in the current build

[2019-10-23 16:45] pguevara65 commented on #9
@jthiel16 can you please review?

@cmoosman1 thanks!
cc: @NoelWormwood

[2019-10-23 16:46] pguevara65 commented on #12
@cmoosman1 thanks!

@jthiel16 can you please review

cc: @NoelWormwood

[2019-10-25 22:24] jthiel16 commented on #9
Thanks Criss, closing the ticket

[2019-10-25 22:24] #9 closed, assigned to NoelWormwood

[2019-10-25 22:26] jthiel16 commented on #12
Looks good, thanks Criss

[2019-10-25 22:26] #12 closed, assigned to NoelWormwood

[2019-10-26 20:15] adamsisneros opened #45 "Functionality: The Navigation Menu remains hidden after the user scrolls down and returns to the top of the page"
Severity: Minor
Location: https://sargonmc.wpengine.com/
OS / OS Version: OSX 10.14.3, iOS 10.1.1, iOS 10.2.1, iOS 11.4, iOS 12.4.1
Device / Browser: Desktop Safari 12.0.3, iPhone 7, iPhone 8 Plus, iPhone X, iPad 4th Gen, iPad Air 2nd Gen
 
Expected Results:
  The navigation menu will display when the user scroll to the top of any page.
 
Actual Results:
  When the user scrolls to the top after ex

[2019-10-26 20:16] adamsisneros opened #46 "UI: The user is directed to the Employment page after selecting Contact Us on the Employment page"
Severity: Minor
Location: http://sargonmc.wpengine.com/employment
OS / OS Version: All Platforms and Browsers
Device / Browser: All Platforms and Browsers

Expected Results:
  When the user selects 'Contact Us' on the 'Employment' page, the user will be sent to the 'Contact Us' page.
 
Actual Results:
  When the user selects 'Contact Us' on the 'Employment' page, the user is sent to the Employment

[2019-10-26 20:17] adamsisneros opened #47 "UI: The Sargon link in the Footer directs to https://tallwave.com"
Severity: Minor
Location: http://sargonmc.wpengine.com/
OS / OS Version: All Platforms and Browsers
Device / Browser: All Platforms and Browsers
 
Expected Results:
  When the user selects the Sargon link in the Footer, the user will be taken to http://sargonmc.wpengine.com
 
Actual Results:
  When the user selects the Sargon link in the Footer, they are directed to https://tallwave.com.
 
Steps T

[2019-10-26 20:19] adamsisneros opened #48 "UI: The "About Us", "Explore Steel", and "Explore Masonry" links on the 'Our Work' page redirect the user to the Home page"
Severity: Minor
Location: http://sargonmc.wpengine.com/our-work
OS / OS Version: All Platforms and Browsers
Device / Browser: All Platforms and Browsers
 
Expected Results:
  When the user is viewing the Our Work page, the 'About Us', 'Explore Steel', and 'Explore Masonry' links will redirect to the correct corresponding pages.

Actual Results:
  When the user is viewing the Our Work page, the 'Ab

[2019-10-26 20:19] adamsisneros opened #49 "Functionality: The Navigation Bar extends excessively to the right, causing blank areas on the Home page"
Severity: Minor
Location: http://sargonmc.wpengine.com/
OS / OS Version: iOS 10.1.1
Device / Browser: iPhone 7 / Safari
 
Expected Results:
  When the user is navigating the Home page, the navigation menu will fit the screen size.
 
Actual Results:
  When the user is navigating the Home page on the iPhone 7, the navigation menu is stretched, causing the website to load with a large, blank space th

[2019-10-26 20:20] adamsisneros opened #50 "Formatting: Bottom of the first paragraph of text is obscured by the image beneath it on Employment and About Us"
Severity: Minor
Location: http://sargonmc.wpengine.com/employment, http://sargonmc.wpengine.com/about-us
OS / OS Version: All iPhones and Android Phones in scope
Device / Browser: All iPhones and Android Phones in scope
 
Expected Results:
  All text on all pages will remain visible and easily readable to the user.
 
Actual Results:
  The first paragraph of text on the "Employment" and "About Us"

[2019-10-26 20:21] adamsisneros opened #51 "Display : Employee photos on the "About Us" page are all truncated"
Severity: Minor
Location: https://sargonmc.wpengine.com/about-us
OS / OS Version: All mobile devices in scope
Device / Browser: All mobile devices in scope
 
Expected Results:
  A complete image will be displayed for each employee listed.
 
Actual Results:
  Employee images on the "About Us" page are all truncated, only displaying half of the subject's head.
 
Steps To Reproduce:
	1. Launch http:/

[2019-10-26 20:21] adamsisneros opened #52 "Display: The first project listed on the "Our Work" page (Sky Crossing) is partially obscured"
Severity: Minor
Location: Our Work
OS / OS Version: All mobile devices in scope
Device / Browser: All mobile devices in scope
 
Expected Results:
  Project image and title will not be obscured and will be easily viewed by the user.
 
Actual Results:
  Project image for the first project (Sky Crossing) listed on the "Our Work" page is partially obscured, and the title does not display at all.

 
St

[2019-10-26 20:22] adamsisneros opened #53 "UI: Services sub menu will appear over the hamburger menu on some devices"
Severity: Minor
Location: Header
OS / OS Version: Android 7.0, iOS 10.2.1, iOS 12.4.1
Device / Browser: Samsung Galaxy Tab A / Chrome, iPad 4th Gen / Safari, iPad Air 2nd Gen / Safari
 
Expected Results:
  When the user is viewing the header options through a hamburger menu, the sub menu for Services will appear underneath Services, without covering other menu options. This behavior is seen on sma

[2019-10-26 20:23] adamsisneros opened #54 "Functionality: The Home Builders Association of Central Arizona (HBACA) logo on the Homepage directs to http://sargonmc.wpengine.com/"
Severity: Minor
Location: http://sargonmc.wpengine.com/
OS / OS Version: All Platforms and Browsers
Device / Browser: All Platforms and Browsers
 
Expected Results:
  Selecting the Home Builders Association of Central Arizona (HBACA) logo on the Homepage will direct the user to the Home Builders Association of Central Arizona website at https://www.hbaca.org/.
 
Actual Results:
  If the user selec

[2019-10-26 20:24] adamsisneros opened #55 "Functionality: The Arizona Masonry Guild Inc logo directs to https://azmasonry.org/"
Severity: Minor
Location: http://sargonmc.wpengine.com/
OS / OS Version: All Platforms and Browsers
Device / Browser: All Platforms and Browsers
 
Expected Results:
  Selecting the Arizona Masonry Guild Inc logo on the Homepage will direct the user to a website associated with Arizona Masonry Guild Inc.
 
Actual Results:
  If the user selects the Arizona Masonry Guild Inc logo on the Homepage, the

[2019-10-26 20:24] adamsisneros opened #56 "Functionality: The Interlocking Concrete Pavement Institute (icpi) logo on the Homepage directs to http://sargonmc.wpengine.com/"
Severity: Minor
Location: http://sargonmc.wpengine.com/
OS / OS Version: All Platforms and Browsers
Device / Browser: All Platforms and Browsers
 
Expected Results:
  Selecting the Interlocking Concrete Pavement Institute (icpi) logo on the Homepage will direct the user to the Interlocking Concrete Pavement Institute website at https://www.icpi.org/.
 
Actual Results:
  If the user selects the Int

[2019-10-26 20:25] adamsisneros opened #57 "Functionality: The 'Construction' link in the Footer directs to http://sargonmc.wpengine.com/"
Severity: Minor
Location: http://sargonmc.wpengine.com/
OS / OS Version: All Platforms and Browsers
Device / Browser: All Platforms and Browsers
 
Expected Results:
  Selecting the 'Construction' link in the Footer under Services will direct the user to the Construction Projects page.
 
Actual Results:
  If the user selects the 'Construction' link in the Footer, they are directed to http://sargonm

[2019-10-26 20:26] adamsisneros opened #58 "UI: When the user selects "Services", the lower menu items align with the sub menu items, rather than the "Services" title"
Severity: Minor
Location: Header
OS / OS Version: All iPhones and Android Phones in scope
Device / Browser: All iPhones and Android Phones in scope
 
Expected Results:
  When the services sub menu options are displayed, they will display slightly to the right to indicate their status as sub items of "Services". All other menu options will remain centered and in line with each other.
 
Actual Resul

[2019-10-26 20:26] adamsisneros opened #59 "Display: Vertical white bars are present along the right side of the Home, Employment, and About Us pages"
Severity: Trivial
Location: Home, Employment, About Us
OS / OS Version: All iPhones and Android Phones in scope
Device / Browser: All iPhones and Android Phones in scope
 
Expected Results:
  Pages will not have any unnecessary blank spaces around the edges.
 
Actual Results:
  Home, Employment, and About Us pages have a small amount of blank white space along the right side of the page when viewe

[2019-10-26 20:27] adamsisneros opened #60 "UI: The 'Featured Work' tile on the Homepage is truncated in Portrait view on iPads"
Severity: Minor
Location: http://sargonmc.wpengine.com/
OS / OS Version: iOS 10.2.1, iOS 12.4.1
Device / Browser: iPad 4th Gen / Safari, iPad Ari 2nd Gen / Safari
 
Expected Results:
  The 'Featured Work' tile will fully display as it does on desktop platforms.
 
Actual Results:
  While viewing the Homepage on an iPad in portrait view, the 'Featured Work' tile appears to be truncated, only display

[2019-10-26 20:27] adamsisneros opened #61 "Formatting: 'Legacy' text is clipping behind the next tile on the 'Our Work' page on iPads in Portrait view"
Severity: Minor
Location: http://sargonmc.wpengine.com/our-work
OS / OS Version: iOS 10.2.1, iOS 12.4.1
Device / Browser: iPad 4th Gen / Safari, iPad Ari 2nd Gen / Safari
 
Expected Results:
  Text will be formatted in a way so as not to clip with or otherwise interfere with other page elements.
 
Actual Results:
  While viewing the 'Our Work' page on an iPad in Portrait view, the text 'A Lasting

[2019-10-26 20:28] adamsisneros opened #62 "Formatting: 'Sanctuary' text is clipping into the next tile on the 'Our Work' page on iPads in Portrait view"
Severity: Minor
Location: http://sargonmc.wpengine.com/our-work
OS / OS Version: iOS 10.2.1, iOS 12.4.1
Device / Browser: iPad 4th Gen / Safari, iPad Ari 2nd Gen / Safari
 
Expected Results:
  Text will be formatted in a way so as not to clip with or otherwise interfere with other page elements.
 
Actual Results:
  While viewing the 'Our Work' page on an iPad in Portrait view, the text 'Sanctuary'

[2019-10-26 20:29] adamsisneros opened #63 "Functionality: Social Media links in the footer do not open in a new browser window/tab"
Severity: Trivial
Location: Footer
OS / OS Version: All OS versions in project scope
Device / Browser: All devices/browsers in project scope
 
Expected Results:
  When the user selects a social media icon from the "Follow Us" section in the footer, the corresponding website will open in a new window or browser tab.

Actual Results:
  When the user selects a social media icon from the "Follow Us" s

[2019-10-26 20:29] adamsisneros opened #64 "Formatting: The Location and Contact info is not properly formatted for the space provided in both portrait and landscape"
Severity: Major
Location: http://sargonmc.wpengine.com/contact-us
OS / OS Version: iOS 10.2.1, iOS 12.4.1
Device / Browser: iPad 4th Gen / Safari, iPad Ari 2nd Gen / Safari
 
Expected Results:
  Page elements will be formatted in a way so as not to clip with or otherwise interfere with other page elements.
 
Actual Results:
  The Location and Contact info for the three offices is not formatted pro

[2019-10-26 20:30] adamsisneros opened #65 "Functionality: Terms and Conditions/Privacy Policy text in the footer do not open in a new browser window/tab"
Severity: Minor
Location: Footer
OS / OS Version: All OS versions in project scope
Device / Browser: All devices/browsers in project scope
 
Expected Results:
  The "Terms and Conditions/Privacy Policy" text in the footer will be active links to the company's Terms and Conditions/ Privacy Policy documentation for users to review.
 
Actual Results:
  The "Terms and Conditions/Privacy Policy" text i

[2019-10-26 20:31] adamsisneros opened #66 "Functionality: Info email in the "Open Positions" section does not direct user to a new email draft"
Severity: Trivial
Location: http://sargonmc.wpengine.com/employment
OS / OS Version: All OS versions in project scope
Device / Browser: All devices/browsers in project scope
 
Expected Results:
  The email address "info@sargonmc.com" in the paragraph within the "Open Positions" section of the "Employment" page will be and active "mail-to" link that the user can select and send an email directly to

[2019-10-30 02:04] cmoosman1 commented on #66
@NoelWormwood - This is resolved in the current build

[2019-10-30 02:05] cmoosman1 commented on #63
@NoelWormwood - This is resolved in the current build

[2019-10-30 02:06] cmoosman1 commented on #65
@NoelWormwood - Do we have content for these pages?

[2019-10-30 02:07] cmoosman1 commented on #62
@NoelWormwood - This is resolved in the current build

[2019-10-30 02:08] cmoosman1 commented on #61
@NoelWormwood - This is resolved in the current build

[2019-10-30 02:09] cmoosman1 commented on #60
@NoelWormwood - This is resolved in the current build

[2019-10-30 02:09] cmoosman1 commented on #59
@NoelWormwood - This is resolved in the current build

[2019-10-30 02:11] cmoosman1 commented on #58
@NoelWormwood - This is resolved in the current build

[2019-10-30 02:14] cmoosman1 commented on #53
@NoelWormwood - This is resolved in the current build

[2019-10-30 02:15] cmoosman1 commented on #52
@NoelWormwood - This is resolved in the current build

[2019-10-30 02:16] cmoosman1 commented on #51
@NoelWormwood - This is resolved in the current build

[2019-10-30 02:17] cmoosman1 commented on #50
@NoelWormwood - This is resolved in the current build

[2019-10-30 02:17] cmoosman1 commented on #49
@NoelWormwood - This is resolved in the current build

[2019-10-30 02:18] cmoosman1 commented on #47
@NoelWormwood - This is resolved in the current build

[2019-10-30 02:19] cmoosman1 commented on #64
@NoelWormwood - This is resolved in the current build

[2019-10-30 19:17] NoelWormwood commented on #48
@cmoosman1 I confirmed these are set up correctly within the CMS but they are still driving users to the homepage? Can you confirm before pushing live?

[2019-11-06 15:32] NoelWormwood opened #67 "SEO Fixes"
- [x] htaccess, redirects www trailin/ and 404

- [x] canonical fix

[2019-11-06 15:34] NoelWormwood opened #68 "Footer Updates"
- [x] Need to update the social links for FB and Instagram
- [x] Need to correct the spelling of corporate

- [x] Can we make the footer editable within the CMS

[2019-11-06 15:36] NoelWormwood opened #69 "Maintenance Page"
- Comp: https://invis.io/YZUEZTOVWQ7
 - Copy: https://docs.google.com/document/d/1JMxB7VRNZHEySAi6BWFwbN7G0ESZoAlPe8_IWWZ2J14/edit?ts=5d9f7d5b# (page 16)

[2019-11-06 15:52] NoelWormwood commented on #67
Feedback from Criss:

The issues/concerns brought up today have been resolved.

- Meta data/canonical prepended with sargonmc.com
- www redirects i.e. https://www.sargonmc.com/sitemap.xml now goes to https://sargonmc.com/sitemap.xml  the same will apply to robots.txt
- Trailing slash redirect to current page https://www.sargonmc.com/our-work/ resolves to https://www.sargonmc.com/our-work

[2019-11-06 18:19] cmoosman1 commented on #67
@NoelWormwood - This is resolved in Production

[2019-11-06 18:22] cmoosman1 commented on #57
@NoelWormwood - This is resolved in Production

[2019-11-06 18:24] cmoosman1 commented on #48
@NoelWormwood - This is resolved in Production

[2019-11-07 17:23] NoelWormwood commented on #45
@cmoosman1 Can we confirm that we fixed this issue? Thanks!

[2019-11-07 17:24] NoelWormwood opened #70 "ROC Numbers"
Please add the following content to the footer under the social icons

ROC 302851 & ROC 287871

[2019-11-07 17:27] #68 closed, assigned to cmoosman1

[2019-11-07 17:27] #67 closed, assigned to NoelWormwood

[2019-11-07 17:29] #54 closed, assigned to NoelWormwood

[2019-11-07 17:29] #55 closed, assigned to NoelWormwood

[2019-11-07 17:32] #56 closed, assigned to NoelWormwood

[2019-11-07 18:50] cmoosman1 commented on #70
@NoelWormwood - This is resolved in Production

[2019-11-07 20:17] #70 closed, assigned to NoelWormwood

[2019-11-08 15:57] NoelWormwood opened #71 "404 Error Page"
Comp: https://projects.invisionapp.com/share/5WUQUBQ9VHK#/screens

@jthiel16 Has confirmed this has also been added to zeplin.

[2019-11-15 20:35] NoelWormwood commented on #45
@cmoosman1 Just touching base on this issue, are we able to resolve this before EOD today? Thanks!

cc: @kylielujan

[2019-11-15 22:40] cmoosman1 commented on #45
@NoelWormwood - This is resolved in the current build

[2019-11-18 17:35] NoelWormwood commented on #45
Thank you @cmoosman1! @kylielujan Can you please confirm you are no longer experiencing this issue. Thanks!

[2019-11-21 15:43] NoelWormwood opened #72 "Homepage Background Image"
When in the CMS the homepage background image is not showing up. Can we please have this updated?

[2019-11-21 15:49] #71 closed, assigned to cmoosman1

[2019-11-21 15:49] #42 closed, assigned to NoelWormwood

[2019-11-26 17:03] NoelWormwood commented on #69
@cmoosman1 This has been approved by the client. Can you please confirm we have push this live by EOD tomorrow 11/27

[2019-11-30 00:21] cmoosman1 commented on #69
@NoelWormwood - This is completed.

[2019-12-02 16:13] #69 closed, assigned to NoelWormwood

[2019-12-18 15:36] NoelWormwood opened #73 "Domain Redirects"
Can we please ensure the following domains are redirected to the main sargon website: https://sargonmc.com/.

Here are the user credentials for namecheap:
User ID is:mkspace  Password: kmk7139222!

Domains to redirect:
sargonconstructiongroup.com
sargonmasonry.com
sargonmaintenance.com
sargoncg.com

[2019-12-18 20:02] cmoosman1 commented on #73
@NoelWormwood - Those creds dont work? https://www.namecheap.com/myaccount/login

[2020-01-28 20:43] NoelWormwood opened #74 "Project Gallery Page Updates"
https://sargonmcenvdev.wpengine.com/sky-crossing

Overview Section Body Copy is not pulling through

Image Gallery sub header is not showing up in WP Admin but is showing content on the front end.

[2020-01-29 15:21] #74 closed, assigned to cmoosman1